.container {
  @apply fixed right-0 h-full bottom-0 bg-white z-50 py-4 px-6 grid gap-1 shadow-2xl translate-x-full transition-all duration-300 ease-in-out w-full opacity-0;
  grid-template-rows: 54px 1fr auto;
  transform: translateY(var(--tw-translate-x, 0));
}

.backdrop {
  @apply hidden;
}

.container__isOpen {
  @apply translate-x-0 opacity-100;
}

.title {
  @apply text-4xl font-semibold;
}
.items {
  @apply overflow-auto;
  max-height: 70vh;
}
.item {
  @apply p-1;
}

.item + .item {
  @apply border-t-2 my-1;
}

.discounts {
  @apply py-2;
}

.total,
.subTotal {
  @apply my-2 flex justify-between leading-tight;
}

.subTotal {
  @apply text-xl font-light leading-tight border-b-2 border-gray-300 pb-2;
}
.total {
  @apply text-2xl;
}

.cta {
  @apply text-center font-bold text-lg block w-full mb-2 p-4 bg-green-200 hover:bg-green-400 transition-all duration-200 hover:shadow-md active:bg-green-500 mt-4;
}

/*  Responsive stuff */

@screen lg {
  .container {
    width: 55vh;
    transform: translateX(var(--tw-translate-x, 0));
  }

  .backdrop {
    @apply block fixed w-full h-full left-0 top-0 z-10 opacity-0 bg-gray-600 transition-opacity duration-100 ease-in-out pointer-events-none;
  }
  .backdrop__isOpen {
    @apply opacity-75 pointer-events-auto;
  }
}
