.product {
  @apply p-4 bg-white shadow-sm hover:shadow-md relative rounded-md overflow-hidden flex flex-col justify-between;
  transition: all 0.2s ease-in-out;
}

.name {
  @apply text-lg text-gray-700 font-bold mb-1;
}

.price {
  @apply absolute text-gray-100 bg-gray-400 top-0 right-0 px-2 py-1 text-right text-xl;
  transition: all 0.2s ease-in-out;
}

.oldPrice {
  @apply ml-1 text-xs;
}

.product:hover .price {
  @apply bg-gray-700;
}
