.header {
  @apply bg-gray-900 text-white py-2 sm:py-4 mb-2;
}
.center {
  @apply container mx-auto px-2 sm:px-4;
}
.content {
  @apply flex justify-between items-center;
}

.logo {
  @apply h-8 w-auto fill-current text-green-400;
}

.brand {
  @apply ml-3 font-semibold text-xl tracking-tight;
}

.cartButton {
  @apply p-2 relative text-white;
}

.cartBadge {
  @apply absolute -top-0 -right-0.5 inline-flex items-center justify-center px-2 py-1 text-xs leading-none text-red-100 bg-red-600 rounded-full z-10;
}
