.form {
  @apply block sm:flex sm:items-center sm:justify-between;
}
.label {
  @apply block w-full mb-1 sm:w-auto sm:mb-0 sm:flex-shrink;
}
.input {
  @apply p-2 mr-1 w-full border border-solid border-gray-100 focus:border-gray-300 ring-0;
}

.button {
  @apply block w-full flex-1 p-2 bg-red-100 rounded-sm hover:bg-red-400 transition-colors duration-200 hover:shadow-sm active:bg-red-500;
}

.button.buttonDisabled {
  @apply bg-gray-100 cursor-not-allowed hover:bg-gray-100;
}
.icon {
  @apply fill-current inline-block w-4 h-4 mr-2;
}

@screen sm {
  .input {
    width: 5ch;
  }
}
