.container {
  @apply grid items-center gap-2;
  grid-template-columns: 2em 1fr auto 2rem;
}

.isDiscount {
  grid-template-columns: 1fr auto;
}
.quantity {
  @apply text-base text-gray-400;
}
.name {
  @apply text-base text-gray-800;
}

.price {
  @apply font-bold text-gray-800;
}

.price.discountPrice {
  @apply text-green-400;
}

.button {
  @apply text-gray-400 hover:text-red-500 transition-colors duration-200 p-1 text-center;
}
.icon {
  @apply fill-current h-4 w-4 text-current m-0 inline-block;
}
